.main {
    display: flex;
    flex-direction: column;
    background: linear-gradient(to bottom, #2aa8fc 20%, #03945c 80%);
    padding: 0px 50px;
    min-height: 100vh;  
}

.cabecalho  {
    display: flex;
    padding: 10px 10px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    backdrop-filter: blur(30px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.10);
    z-index: 1;
}

.botao {
    font-size: 0.8rem;
    font-weight: bold;
    background-color: #027a4c;
    border: none;
    border-radius: 8px;
    margin-left: auto;
    margin-right: 16px;
    padding: 0.5rem 0.7rem;
    cursor: pointer;
}

.botao:hover {
  background-color: #03945c;
  transition: background-color 0.5s ease;
}


/*===================CONTAINER 1===================*/
.container1 {
    margin-top: 8rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
}

.apresentacao {
    flex: 1;
}

.apresentacao span {
    display: block;
    font-size: 3.75rem;
    font-weight: bold;
}

.apresentacao span:nth-of-type(2) {
    color: #3AFF51;
}

.apresentacao p {
    margin-top: 25px;
    font-size: 1.25rem;
}

.graficoWrapper {
    flex: 1;
    display: flex;
    justify-content: center;
}

.grafico1 {
    max-width: 400px;
    width: 100%;
    height: auto;
}
/*=================================================*/

/*===================CONTAINER 2===================*/

.container2 {
  position: relative;

}

.container2::after {
  content: "";
  display: block;
  height: 1px;
  width: 100%;
  margin-top: 10px;

  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0),   /* transparente esquerda */
    rgba(255, 255, 255, 0.2), /* meio começa a aparecer */
    rgba(255, 255, 255, 0.5), /* centro mais forte */
    rgba(255, 255, 255, 0.2),
    rgba(255, 255, 255, 0)    /* transparente direita */
  );
}

.botaocentral {
    background-color: #027a4c;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 1.2rem;
    padding: 0.8rem 1rem;
}

.botaocentral:hover {
    background-color: #03945c;
    transition: background-color 0.5s ease;
}

.metricas {
    display: flex;
    margin-top: 2rem;
    margin-bottom: 5rem;
}

.specMetricas {
    display: flex;
    margin-right: 2rem;
    align-items: center;
    gap: 8px;
}

.grafico2 {
    display: none;
}
/*=================================================*/

/*===================CONTAINER 3===================*/

.container3 {
    margin-top: 7rem;
}

.title {
    display: blocks;
    text-align: center;
    font-size: 2.25rem;
    font-weight: bold
}

.subtitle {
    display: block;
    text-align: center;
    font-size: 1.125rem;
    margin-top: 1rem;
}

/*=================================================*/

.footer {
    display: block;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #F9F9F9;
    font-size: 0.9rem;
    margin-top: 16px;
    padding: 8px;
    gap: 32px; 

}

.footer p {
    color: black;
}

.nextjslogo {
    display: flex;
    align-items: center; 
    gap: 8px; 
}

/* Tablets */
@media (max-width: 820px) {
    .main {
        flex-direction: column;
        padding: 0px;
    }

    .container1 {
        flex-direction: column;
        margin-top: 10rem;
        padding: 0 16px;
        text-align: center;
    }

    .apresentacao span {
        font-size: 3.5rem;
    }

    .apresentacao p {
        font-size: 1.35rem;
        max-width: 80%;
        margin: 1rem auto; 
    }

    .botaocentral {
        display: block;
        font-size: 1.225rem;
        padding: 0.8rem 1rem;
        margin: auto;
    }

    .metricas {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 8px;
        margin-top: 1rem;
    }

    .specMetricas {
        display: flex;
        align-items: center;
        gap: 8px;
        text-align: center;
    }

    .grafico1 {
        display: none;
    }

    .grafico2 {
        width: 50%;
        max-width: 300px; 
        height: auto;
        display: block;
        margin: 1.5rem auto 0 auto;
    }

    .container2 {
        
    }

    .footer {
        flex-direction: column;
        gap: 12px;
        text-align: center;
    }
}

/* Mobile */
@media (max-width: 480px) {
    .main {
        flex-direction: column;
        padding: 0px;
    }

    .container1 {
        flex-direction: column;
        margin-top: 7rem;
        padding: 0 16px;
        text-align: center;
    }

    .apresentacao span {
        font-size: 2.225rem;
    }

    .apresentacao p {
        font-size: 1.35rem;
    }

    .container2 {
        margin-top: -1rem;
    }

    .botaocentral {
        font-size: 1.225rem;
        padding: 0.8rem 1rem;
        display: block;
        margin: auto; 
    }

    .linha {
        flex-direction: column; /* quebra os 2 últimos */
        align-items: center;
    }

    .grafico1 {
        display: none;
    }

    .footer {
        flex-direction: column;
        gap: 12px;
        text-align: center;
    }
}
